@use "../shared/mixins" as *;

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 100;

  .mobile-search-bar {
    display: none;
  }

  &__left {
    display: flex;
    align-items: center;

    .hamburger {
      display: none;
    }

    .logo {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }

    & h1 {
      font-size: 1.125rem;
      font-weight: 400;
      margin: 0;
    }

    & span {
      font-size: 0.75rem;
      color: #aaaaaa;
    }
  }

  &__center {
    flex: 1;
    display: flex;
    justify-content: center;

    .search-bar {
      @include search-bar();
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .search {
      display: none;
    }

    .icon-button {
      position: relative;

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }

      .books {
        width: 21px;
        height: 20px;
      }

      &.notification .badge {
        position: absolute;
        top: -6px;
        right: -6px;
        background-color: #65c100;
        color: white;
        font-weight: 700;
        font-size: 0.65rem;
        cursor: pointer;
        border-radius: 50%;
        padding: 3.5px 6.5px;
      }
    }

    .avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 768px) {
  .top-nav {
    height: 70px;
    padding: 0 1.875rem;
    border: none;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    .mobile-search-bar {
      position: fixed;
      // top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: white;
      height: 70px;
      top: -100%;
      display: block;
      box-sizing: border-box;
      z-index: 999;
      padding: 0 1.875rem;
      display: flex;
      align-items: center;
      transition: top 0.3s ease-in-out;

      &.open {
        top: 0;
      }

      .close-search{
        margin-right: 1rem;
      }

      .search-bar {
        @include search-bar();
        gap: 1.5rem;
        input {
          width: 50%;
        }

     
      }
    }

    &__left {
      gap: 1.8rem;

      .hamburger {
        width: 16px;
        display: block;
        height: 15px;
      }

      .title {
        display: none;
      }

      .logo {
        width: 40px;
        height: 40;
        margin-right: 0;
      }
    }

    &__center {
      display: none;
    }

    &__right {
      gap: 1rem;
      .search {
        display: inline;
        width: 15px;
        height: 15px;
      }

      &.notification .notification-icon {
        width: 17px;
        height: 20px;
      }

      .avatar img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
