<div class="top-nav">
    <div class="top-nav__left">
      <img src="assets/images/logo.svg" alt="Logo" class="logo" />
      <div class="top-nav__title">
        <h1>Korapay Book Club</h1>
        <span>Admin</span>
      </div>
    </div>
  
    <div class="top-nav__center">
      <div class="search-bar">
        <input type="text" placeholder="Search books, authors..." />
        <button class="search-btn">
          <img src="assets/icons/search.svg" alt="Search" />
        </button>
        <ul class="search-suggestions hidden">
          <li><strong>Built to Last</strong> - Jim Collins, Jerry I. Porras</li>
          <li><strong>Four Steps To The Epiphany</strong> - James McEnroe</li>
          <li><strong>The Lean Start Up</strong> - Eric Reiss</li>
          <li><strong>No Excuses</strong> - Brian Tracy</li>
        </ul>
      </div>
    </div>
  
    <div class="top-nav__right">
      <div class="icon-button">
        <img src="assets/icons/book.svg" alt="Books" />
      </div>
      <div class="icon-button notification">
        <img src="assets/icons/bell.svg" alt="Notifications" />
        <span class="badge">3</span>
      </div>
      <div class="avatar">
        <img src="assets/images/avatar.jpg" alt="User Avatar" />
      </div>
    </div>
  </div>
  